The_Hacking_Project/S6_Rails_Avanced/J4_Services_APis/Projet_validant2/Twitter_bis/app/services/send_tweet.rb
The_Hacking_Project/S7_HTML_CSS/J1_Come_Back_To_HTML_CSS/youtube/config/secrets.yml
The_Hacking_Project/S7_HTML_CSS/J2_formulaires/Projet_Validant_1/formulaire_stylay/config/secrets.yml

The_Hacking_Project/S9_Javascript_front/J3_AJAX/email-viewer/app/views/emails/index.html.erb

The_Hacking_Project/S3_Ruby_intermédiaire/J1_Excel/1_ressources/a_google_drive/tuto_git/config.json
The_Hacking_Project/S3_Ruby_intermédiaire/J1_Excel/1_ressources/a_google_drive/twilioblog/speadsheet_fun/client_secret.json
